
    <!-- Table -->
    <div class="container-xl">
      <div class="table-responsive">
          <div class="table-wrapper">
              <div class="table-title">
                  <div class="row">
                      <div class="col-sm-6">
                          {{#if nodata}}
                            <h2>{{nodata}}</h2>
                            {{else}}
                            <h2><b>All varietys for species: {{speciesname}}</b></h2>
                          {{/if}}
                      </div>
                  </div>
              </div>
              <table class="table table-striped table-hover">
                  <thead>
                      <tr>
                          <th>Variety ID</th>
                          <th>Name</th>
                          <th>Characteristics</th>
                          <th>Species ID</th>
                      </tr>
                  </thead>
                  <tbody>
                      {{#each dataa}}
                      <tr>
                          <td>{{this.dataValues.varietyID}}</td>
                          <td>{{this.dataValues.name}}</td>
                          <td>{{this.dataValues.characteristics}}</td>
                          <td>{{this.dataValues.SpecieSpecieID}}</td>
                      </tr>
                      {{/each}}
                  </tbody>
              </table>
          </div>
      </div>        
  </div>
<!-- Table End -->