{{!-- 

List of species with:
Species
Genus

Number of varieties 
Number of trees within each species on the database

--}}
<div class="container mt-5 mb-3">
    <div class="row mb-3">
        <h2>Heritage Fruit</h2>
    </div>
    <div class="row">
        <p>What’s the definition of a Heritage Fruit?  Our working definition is any fruit variety that is not generally available in a supermarket and is not subject to a current Plant Variety Right (PVR), Trademark, or Registered Name. These are likely to be trees that were planted before the 1970’s, or fruit bushes that have been around since then. It you know of a good tree, but don’t know what variety it is, start by looking at the trunk of the tree to see if it appears to be a grafted tree. This usually shows up as different coloured bark at some part of the trunk, usually in the bottom 20-50cm. Or it may show as different types of leaves on shoots from around the bottom of the trunk, compared to the fruiting branches of a tree. If a tree does not look to be grafted, it is most likely to be a random seedling, which may have inherent value, but is not a heritage variety. But if you really like the fruit from it, you can name it, propagate from it, and in 100 years it may be a heritage variety. That’s how most heritage varieties we are now searching for began life.</p>

        <p>Fruit Types included on our database. The following is the summary of what we currently have in our database. If you want to add a genus or species, go to the “Submit Data” page. If you are looking for a particular variety, go to the “Search Database” page. </p>

    </div>
    <div class="row">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Varieties</button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Species</button>
            </div>
        </nav>
    </div>
</div>

<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        
        <!-- Table -->
        <div class="container-xl">
            <div class="table-responsive">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-6">
                                {{#if nodata}}
                                    <h2>{{nodata}}</h2>
                                {{else}}
                                    <h2><b>Varieties</b></h2>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>VarietyID</th>
                                <th>Common Name</th>
                                <th>Number of trees</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each dataVariety}}
                                <tr>
                                    <td>{{this.dataValues.varietyID}}</td>
                                    <td>{{this.dataValues.name}}</td>
                                    <td>{{this.dataValues.treeCount}}</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>        
        </div>
        <!-- Table End -->
      
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

        <!-- Table -->
        <div class="container-xl">
            <div class="table-responsive">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-6">
                                {{#if nodata}}
                                    <h2>{{nodata}}</h2>
                                {{else}}
                                    <h2><b>Species</b></h2>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Species ID</th>
                                <th>Specie</th>
                                <th>Genus</th>
                                <th>Number of Varieties</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each data}}
                            <tr>
                                <td>{{this.dataValues.specieID}}</td>
                                <td>{{this.dataValues.species}}</td>
                                <td>{{this.dataValues.genus}}</td>
                                <td>{{this.dataValues.varietyCount}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>        
        </div>
        <!-- Table End -->

    </div>
</div>


