<!-- Table -->
<div class="container-fluid mt-3">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        {{#if nodata}}
                            <h2>{{nodata}}</h2>
                        {{else}}
                            <h2><b>Trees</b></h2>
                        {{/if}}
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Variety Name</th>
                        <th>Age</th>
                        <th>Height</th>
                        <th>Trunk Diameter</th>
                        <th>Root Stock</th>
                        <th>Public</th>
                        <th>Synonyms</th>
                        <th>Identity Certain</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data}}
                    <tr>
                        <td>{{this.dataValues.Variety.dataValues.name}}</td>
                        <td>{{this.dataValues.age}}</td>
                        <td>{{this.dataValues.height}}</td>
                        <td>{{this.dataValues.trunkdiameter}}</td>
                        <td>{{this.dataValues.rootstock}}</td>
                        <td>{{this.dataValues.public}}</td>
                        <td>{{this.dataValues.synonyms}}</td>
                        <td>{{this.dataValues.identitycertain}}</td>
                        <td><button class="btn btn-primary">View Tree</button></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>        
</div>
<!-- Table End -->